<div class="banner w-100" style="background-image: url(https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2434&q=80);">
  <div style="margin-left: auto; margin-right: auto;">
    <%= image_tag "buildings.png", alt: "alttext",class: "image-clin" %>
  </div>
  <div class="arrow bounce">
    <p class="fa fa-arrow-down fa-2x"></p>
  </div>
</div>

<div class="container">

  <div class="categ text-center mt-3" style="background-color: white; border-radius: 5px; width: 100%; margin: 0 auto; min-height: 150px;">
    <div class="container">
      <div class="categ-line" style="border-bottom: 1px solid red">
        <h3 class="mt-2 mb-2">Categories</h3>
      </div>
      <div class="categ-icons row" style="margin-top: 30px; display:flex; align-items:center;">
        <% @categories.each do |cat| %>
          <div class="col-1 hvr-grow" style="font-size: 30px;">
            <%= link_to cat.icons.html_safe, favours_path(category: cat.id), title: cat.name %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Mettre des petites icones comme trip advisor -->
  </div>


  <!-- <div class="intro">
    <h1 class="title">How would you like to help today?</h1> <br><br>
    <div class="dropdown">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Category
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @categories.each do |cat| %>
          <%= link_to "<li class='dropdown-item'>#{cat.name}</li>".html_safe, favours_path(category: cat.id)  %>
        <% end %>


      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-7">

      <div class="welcome">
        <% if user_signed_in? %>
          <%if current_user.profile_picture.attached? %>
            <%= cl_image_tag current_user.profile_picture.key %>
            <div class="card-welcome-infos">
              <div class="welcome-text ml-5">
                <h1>Welcome <%= current_user.first_name %></h1>
                <p>How would you like to help today?</p>
              </div>
            </div>
          <% else %>

            <div class="card-welcome-infos">
              <div class="welcome-text ml-5">
                <h1>Welcome <%= current_user.first_name %></h1>
                <p>How would you like to help today?</p>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= image_tag "Favours.png" %>
          <div class="card-welcome-infos">
            <div class="welcome-text ml-5">
              <h1>Welcome</h1>
              <p>How would you like to help today?</p>
              <%= link_to 'Sign up', new_user_session_path, class: 'btn btn-outline-primary'  %>
            </div>
          </div>
        <% end %>

      </div>

      <div class="cards">
        <% @favours.each do |f| %>
          <%= link_to favour_path(f) do %>
          <div class="card-index hvr-grow">
            <div class="row">
              <div class="col-6">
                <h5><%= f.name %></h5>
                <p><%= f.category.icons.html_safe %></p>
              </div>
              <div class="col-6 text-right">
                <p><%= humanized_money_with_symbol(f.price * 100) %></p>
                <p><%= f.start_time.strftime("%d.%m.%Y") %></p>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-5 pl-0 map-container"
      id="map"
      style=" position: sticky;
      width: 100%;
      height: height: 100vh;"
      data-page="index"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>

<footer class="page-footer font-small unique-color-dark">
  <!-- Footer Links -->

  <div class="container text-center text-md-left mt-5">
     <hr class="line">
    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://www.ch.ch/fr/assurance-responsabilite-civile/">Help my neighbours </a>
        </p>
        <p>
          <a href="https://www.ch.ch/fr/contrat-travail/">Need help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase">Requirements</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://www.ch.ch/fr/assurance-responsabilite-civile/">Insurance</a>
        </p>
        <p>
          <a href="https://www.ch.ch/fr/contrat-travail/">Contract</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <%= link_to "Your Account", edit_user_registration_path  %>
        </p>
        <p>
          <%= link_to "Create a Favour", new_favour_path %>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i>Chemin du Closel 5, 1020 Renens</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>support_team@favours.ch</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 41 21 234 56 78</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->


      <div class="container">
      <hr class="line">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0"><small> © 2020 Copyright </small></h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a href="https://fr-fr.facebook.com/" class="fb-ic">
            <i class="fab fa-facebook-f icone white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="https://www.instagram.com/?hl=fr">
            <i class="fab fa-instagram icone white-text mr-4"></i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

</footer>
<!-- Footer -->

