<div class="container">
  <div class="intro">
    <h3>My favours</h3>
  </div>
  <div class="status">
    <% @favours.each do |f| %>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Task: <%= f.name %></p>
          <p class="card-text"><%= f.description %></p>
          <p class="card-text"><%= f.location %></p>
          <p class="card-text"><%= humanized_money_with_symbol(f.price) %></p>
        </div>
        <%= link_to "Delete my favours", favour_path(f), method: :delete %>
        <%= link_to "Edit my favours", edit_favour_path(f) %>
      </div>
    <% end %>
  </div>
</div>
