<div class="container">
  <div class="intro">
    <h3>My favours</h3>
  </div>
  <div class="status">
    <% @favours.each do |f| %>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Task: <%= f.name %></p>
          <p class="card-text"><%= f.description %></p>
          <p class="card-text"><%= f.location %></p>
          <p class="card-text"><%= humanized_money_with_symbol(f.price * 100) %></p>
        </div>
        <div class="mt-4 flex-btns">
          <%= link_to "Edit", edit_favour_path(f), class: 'btn btn-outline-primary ml-5 mr-5 px-2 mb-4' %>
          <%= link_to "Delete", favour_path(f), method: :delete, class: 'btn btn-outline-primary ml-5 mr-5 px-2 mb-4' %>
        </div>
      </div>
    <% end %>
  </div>
</div>


