<div class = container><br><br>
  <div class="row mt-3 form-white">
    <div class="col-6 mb-4 mt-4">
      <h2 class="text-center">New Favour</h2>
      <%= simple_form_for @favour do |f| %>
      <div class="form-group">
        <%= f.input :name, class: 'form-control', placeholder: 'Name' %>
      </div>
      <div class="form-group">
        <%= f.input :description, class: 'form-control', placeholder: 'Description' %>
      </div>
      <div class="form-group">
        <%= f.association :category, class: 'form-control', placeholder: 'Category' %>
      </div>
      <div class="form-group">
        <%= f.input :location, class: 'form-control', placeholder: 'Location' %>
      </div>
      <div class="form-group">
        <%= f.input :price_cents, label: 'Price', class: 'form-control', placeholder: 'Price' %>
      </div>
      <div class="form-group mb-3">
        <%= f.input :start_time, label: 'Date', as: :date, html5: true, class: 'form-control', placeholder: "DD/MM/YYYY" %>
      </div>
      <div class="form-group mb-3">
        <%= f.input :start_time, as: :time, class: 'form-control', placeholder: "hh:mm" %>
      </div>
       <div class="form-group mb-3">
        <%= f.input :end_time, as: :time, class: 'form-control', placeholder: "hh:mm" %>
      </div>

      <div class="mt-4 flex-btns">
        <%= f.submit 'Post', class: 'btn btn-outline-primary px-4' %>
      </div>
      <% end %>
    </div>

    <div class="col-6">
      <%= image_tag "undraw_people_tax5.png", alt: "alttext", class: "image" %>
    </div>
  </div>
</div>


