<div class = container>



    <div class="form-outline">

      <h2 class="text-center">New Favour</h2>

      <%= simple_form_for @favour do |f| %>
      <div class="form-group">
        <%= f.input :name, class: 'form-control', placeholder: 'Lawn Mowing' %>
      </div>
      <div class="form-group">
        <%= f.input :description, class: 'form-control', placeholder: 'I need someone to help with my garden as soon as possible! Two hour job, maximum and I will offer cookies and refreshments!' %>
      </div>
      <div class="form-group">
        <%= f.association :category, class: 'form-control', prompt: 'Select a category' %>
      </div>
      <div class="form-group">
        <%= f.input :location, class: 'form-control', placeholder: 'Location' %>
      </div>
      <div class="form-group">
        <%= f.input :price_cents, label: 'Price', class: 'form-control', input_html: {value: ''} %>
      </div>
      <div class="form-group mb-3">
        <%= f.input :start_time, label: 'Date', as: :date, html5: true, class: 'form-control', placeholder: "DD/MM/YYYY" %>
      </div>
      <div class="form-group mb-3">
        <%= f.input :start_time, as: :time, class: 'form-control', placeholder: "hh:mm" %>
      </div>
       <div class="form-group mb-3">
        <%= f.input :end_time, as: :time, class: 'form-control', placeholder: "hh:mm" %>
      </div>

      <div class="mt-4 flex-btns">
        <%= f.submit 'Post', class: 'btn btn-outline-primary px-4' %>
      </div>
      <% end %>
    </div>

</div>


