<div class="container">
  <div class="title">
    <br><br>
    <h1 class="text-center mt-3"><%= @favour.name %></h1>
  </div>
  <div class="row flex-display" style="padding-left:15px; padding-right: 15px;">

    <div class="col-6 favour-show-card">
      <div class="row p-3">
        <div class="col-6">
          <p><%= @favour.location %></p>
          <p><%= @favour.description %></p>
          <h5>Accept <%= @favour.name %></h5>
        </div>
        <div class="col-6">
          <p class = "price text-right"><%= humanized_money_with_symbol(@favour.price * 100) %></p>
          <%= render 'contracts/new', favour: @favour, contract: @contract %>
        </div>
      </div>
    </div>

    <div class="col-5 p-0 user-favour-card">
      <%= profile_picture(@user) %>
      <div class="card-user-infos p-3">
        <h5><%= @user.first_name %></h5>
        <p><%= @user.last_name %></p>
        <p><%= @user.email %></p>
        <p><%= @user.location %></p>
        <p><%= @user.phone_number %></p>
      </div>
    </div>

  </div>

  <div
    class="map-show-card mb-5"
    id="map"
    style="width: 100%;
    height: 500px;"
    data-page="show"
    data-markers="[<%= @marker.to_json %>]"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
