<div class="container">

  <div class="intro">
    <h3>My contracts</h3>
  </div>


  <div class="row status-box">

    <div class="col-6 status">
      <h3><small>Past</small></h3>
      <% @past_contracts.each do |c| %>
        <div class="card" style="border-radius: 5px; margin-bottom: 12px;">
          <div class="row">
            <div class="col-9 card-body">
              <p class="card-text pl-2">Task: <%= c.favour.name %></p>
              <p class="card-text pl-2"><%= c.favour.description %></p>
              <p class="card-text pl-2"><%= c.favour.location %></p>
            </div>
            <div class="col-3 card-delete">
              <%= link_to favour_contract_path(c.favour, c),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-6 status">
      <h3><small>Current</small></h3>
      <% @current_contracts.each do |c| %>
        <div class="card" style="border-radius: 5px; margin-bottom: 12px;">
          <div class="row">
            <div class="col-9 card-body">
              <p class="card-text pl-2">Task: <%= c.favour.name %></p>
              <p class="card-text pl-2"><%= c.favour.description %></p>
              <p class="card-text pl-2"><%= c.favour.location %></p>
            </div>
            <div class="col-3 card-delete">
              <%= link_to favour_contract_path(c.favour, c),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
